<!-- The categorie name -->
    <div class="categorie-name text-center row">
        <div class="backBtn col-1 col-lg-2 my-5">
            <a href="/posts:{{CategoryName}}">
                <button class="d-lg-inline d-none"><i class="fas fa-arrow-circle-left pr-2"></i>All posts</button>
                <button class="d-lg-none d-inline col-1"><i class="fas fa-arrow-circle-left pr-2"></i></button>
            </a>
        </div>
        <div class="col-3 col-lg-8 ml-3">
                <h1 class="my-5 px-3 py-2 ml-5 px-md-5">{{CategoryName}}</h1>
            </div>
    </div>

    
    <div class="the_body container-fluid row">
    <!-- Categorie information -->
        <div class="col-12  col-xl-4">
            <div class="categorie-info col-9 ">
                <div class="ci_box m-3 p-5 d-none d-xl-block">
                <table>
                <tr>
                    <th>Categorie: </th>
                    <th>{{CategoryInfo.name}}</th>
                </tr>
                <tr>
                    <th>Posts: </th>
                    <th>{{CategoryInfo.NumOfPosts}}</th>
                </tr>
                <tr>
                    <th>Created by:</th>
                    <th>{{CategoryInfo.CreatedBy}}</th>
                </tr>
                <tr>
                    <th>Subscribed:</th>
                    <th>{{CategoryInfo.NumOfSubs}}</th>
                </tr>
            </table>
            <br>
            <p><strong>More information: </strong> </p>
            <br>
    
            <p>
                {{CategoryInfo.Context}}
            </p>
            
            </div>

        
    </div>
    </div>

    <!-- post area -->
    <div class="posts_box col-12 col-xl-8">
        

        <!-- the posts -->
        <div class="posts col-12 col-md-7">
            <div class="p-3">
                <label for="name"><i class="far fa-user-circle m-1"></i> {{post.name}}</span></label>
                    <br>
                    <br>
                    <p>{{post.context}}</p>
                    <br>
                    <label for="likes" class="likesNumber0">Likes:{{post.numOfLikes}} Comments: {{post.numOfComm}}</label>
                    <br>
                    <button class="likeBtn px-4 py-1 " id="b10">Like</button>
                    <button class="px-3 py-1 mx-2" id="b20">Comment</button>
            </div>

        </div>

        <!-- create posts -->
        <div class="comment_box col-12 col-md-7 mt-5">
            <div class="post_comment p-2">
                <textarea id="c_posts" class="txtArea" name="c_posts" rows="4" cols="50" placeholder="Answer here..."></textarea>
                <button class="txtAreaBtn"> Comment</button>
            </div>

            <ul>

                {{#each AllAnswers}}
                            <li>
                                <div class="the_comment">
                                    <label for="name"><span><i class="far fa-user-circle m-1"></i> {{this.name}}</span></label>
                                    <br>
                                    <br>
                                    <p id="p0">
                                       {{this.context}}
                                    </p>
                                    <br>
                                    <label for="likes" class="likesComments0">Likes:{{this.numOfLikes}}</label>
                                    <br>
                                    <button class="likeBtn px-4 py-1 " id="b10">Like</button>
                                    
                                </div>
                            </li>
                {{/each}}

            </ul>
        </div>


    </div>

    </div>
