<div class="body row">
            <div class="col-10 my-5 text-center">
                <img src="image/profile-pic.png" alt="" class="profile-pic">
            </div>

            <div class="info-table col-12 col-sm-10 d-flex justify-content-center">
                <div class="" >
                <div>
                    <span class="that that1">Username:</span> <span class="that">{{{profileInfo.username}}}</span> <span class="thatBtn"><button><i class="fas fa-cog"></i></i></button></span>
                </div>
                <div>
                    <span class="that that1">Email:</span> <span class="that">{{profileInfo.email}}</span><span class="thatBtn"><button><i class="fas fa-cog"></i></i></button></span>
                </div>
                <div>
                    <span class="that that1">Member since:</span> <span class="that">{{profileInfo.date}}</span>
                </div>
                <div>
                    <span class="that that1">Posts:</span> <span class="that">{{profileInfo.numPosts}}</span>
                </div>
                <div>
                    <span class="that that1">Subscribed:</span> <span class="that">{{profileInfo.numSubs}}</span>
                </div>
                <div>
                    <span class="that that1">Number of likes:</span> <span class="that">{{profileInfo.numLikes}}</span>
                </div>
                
                <div class="mt-3">
                    <button class="changePsw">Change password</button>
                    <button class="changePic">Change profile photo</button>
                </div>
                
                
                </div>
            </div>
        </div>

        