<div class="body row">
            <div class="col-10 my-5 text-center">
                <img src="image/profile-pic.png" alt="" class="profile-pic">
            </div>

            <div class="info-table col-12 col-sm-10 d-flex justify-content-center"> 
                <div class="">
                <div>
                    <span class="that that1">Username:</span> <span class="that">{{profileOthersInfo.name}}</span>
                </div>
                <div>
                    <span class="that that1">Member since:</span> <span class="that">{{profileOthersInfo.date}}</span>
                </div>
                <div>
                    <span class="that that1">Posts:</span> <span class="that">{{profileOthersInfo.numPosts}}</span>
                </div>
                <div>
                    <span class="that that1">Subscribed:</span> <span class="that">{{profileOthersInfo.numSubs}}</span>
                </div>
                <div>
                    <span class="that that1">Number of likes:</span> <span class="that">{{profileOthersInfo.numLikes}}</span>
                </div>
                </div>
            </div>
        </div>
