<!-- INCLUDE HEAD -->

<%- include('partials/head'); %>

        <!-- INCLUDE SPECIFIC PAGE STYLESHEETS -->
        <link rel="stylesheet " href="css/front-add-post.css">

    </head>

    <body id="page-template-front-page">

        <%- include('partials/header'); %>

        <section id="main" class="main">

            <div class="container mt-5">

                <%- include('partials/trending-posts'); %>
                
                <%- include('partials/top-posts'); %>

            </div>

        </section>

        <!-- INCLUDE NEW POST FAST ACCESS BUTTON -->
        <%- include('partials/new-post-fast'); %>

    <%- include('partials/footer'); %>